<!-- Begin Footer -->
<footer class="footer">
<!-- Begin Footer Row -->
    <div class="row">
        <!-- Begin empty left column -->
        <div class="col">
        </div>
        <!-- End empty left column -->

        <!-- Begin Middle column -->
        <div class="col-6">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="/">Perro PM</a></li>
                <li class="nav-item"><a class="nav-link" >help</a></li>
                <li class="nav-item"><a class="nav-link" >resources</a></li>
                <li class="nav-item"><a class="nav-link" href="/">about</a></li>
                <li class="nav-item"><a class="nav-link" href="/">sign out</a></li>
            </ul>
        </div>
        <!-- End Middle column -->

        <div class="col">
        </div>
        <!-- End empty right column -->
    </div>
<!-- End Footer Row-->
</footer>
<!-- End Footer -->