{{!< main}}

<main id="page">
    <p>This is page.hbs</p>
    <!-- Begin Header Container-->
    	<div class="container">
    		<div class="row pt-2 pr-3">
	    		<div class="col-10 empty-container">
			  	</div>
				<div class="col-1 justify-content-lg-right">
					<h4 id="logo"><a href="/siteMap">mypmwork.com</a></h4>
  				</div>
  			</div>
    		<div class="row justify-content-lg-center">
			  	<div class="col col-lg-auto pt-0" id="returnUser">
			  		<h1>Project List</h1>
		  		</div>
		  	</div>
		</div>
    <!-- End Header Container-->
    {{{ body }}}
    {{> footer }}
</main>